.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#QUESTION_TIME_ITEM {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#QUESTION_TIME_ITEM input {
  width: 10%;
}

#QUESTION_TIME_ITEM label {
  width: auto;
  color: #000000;
  margin-left: 5px;
}
.radio_btn_6_liner label{width: 15%;float: left;margin: 0.6% 0.5%;/* min-width: 50px; */height: 80px;text-align-last: center;display: table;}	
/*--- Mobile ---*/
@media only screen and (max-width: 480px) {
  .gridQuestion tr td {
    padding: 14px !important;
  }
}
